body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,121,90,1) 0%, rgba(0,212,255,1) 100%);
}

.todo-container {
    background: transparent;
    padding: 20px;
    border: #fff 2px solid;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

input[type="text"] {
    width: 80%;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
input:focus{
    outline: none;
}

button {
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    background-color: #28a745;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #fff;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

li.completed {
    text-decoration: line-through;
    background:#fff}

li button {
    background-color: #dc3545;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    color: white;
}

li button:hover {
    background-color: #c82333;
} 
span{
    flex: .7;
}
@media screen and (max-width: 600px) {
    .todo-container {
        width: 90%;
        padding: 10px;
        color:red ;
    }
}
